{{!
    @author Geert Fokke [geert@sector22.com]
    @link www.sector22.com
}}

<!--[if lt IE 9]>
{{!<noscript><style>#update-browser{display: block !important;}</style></noscript>}}
<div id='update-browser'>
    Your browser is out of date! Get the latest version now at <a href="http://browsehappy.com/" target="_blank">browsehappy.</a>
</div>
<![endif]-->
