/*

    Styling for the debug log that prints out context data.
    Can be injected anywhere so we use !important to make sure no style is overwritten.

*/

// @formatter:off

div._debug-data-log
{
    width:      100%        !important;
    min-width:  600px       !important;
    max-height: 400px       !important;
    background-color: #2B2A27 !important;
    font-family: consolas, menlo, monaco, monospace !important;
    font-size:  12px        !important;
    color:      #9a9286     !important;
    overflow:   scroll      !important;
    padding:    5px 10px    !important;
    z-index:    999         !important;
    text-align: left        !important;


    // json syntax highlighting

    .function { color: #FF5D38 !important; }
    .string {   color: #26A6A6 !important; }
    .number {   color: #BCD42A !important; }
    .boolean {  color: #FF5D38 !important; }
    .null {     color: #FF5D38 !important; }
    .key {      color: #EDE0CE !important; }

    // @formatter:on
}