/* @formatter:off

NOTE:
    Do not place any actual styles in here!
    Otherwise you risk the chance of it being added to your css in multiple places.

*/

$color-primary:                 #FF5454;
$color-secondary:               #333333;
$color-tertiary:                #FAFAFA;

$color-black:                   #000000;
$color-grey:                    #ECECEC;
$color-white:                   #FFFFFF;
$color-off-white:               #ECECEC;

$color-header:                  #333333;
$color-text:                    #333333;


$color-background:              $color-off-white;



// Social colors
$color-social-twitter:          #00aced;
$color-social-facebook:         #3b5998;
$color-social-googleplus:       #dd4b39;
$color-social-pinterest:        #cb2027;
$color-social-linkedin:         #007bb6;
$color-social-youtube:          #bb0000;
$color-social-vimeo:            #aad450;
$color-social-instagram:        #517fa4;
$color-social-flickr:           #ff0084;
$color-social-dribbble:         #ea4c89;
$color-social-whatsapp:         #4dc247;


