/* @formatter:off

NOTE:
    Do not place any actual styles in here!
    Otherwise you risk the chance of it being added to your css in multiple places.


    shadow configurations as seen on: http://materializecss.com/

*/
$shadow-depth-0: 0 0 0 0 rgba(0, 0, 0, 0);
$shadow-depth-1: 0 2px  5px  0 rgba(0, 0, 0, 0.16), 0 2px  10px 0 rgba(0, 0, 0, 0.12);
$shadow-depth-2: 0 8px  17px 0 rgba(0, 0, 0, 0.2),  0 6px  20px 0 rgba(0, 0, 0, 0.19);
$shadow-depth-3: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
$shadow-depth-4: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
$shadow-depth-5: 0 27px 24px 0 rgba(0, 0, 0, 0.2),  0 40px 77px 0 rgba(0, 0, 0, 0.22);
