// @formatter:off

// Add your font imports to the base/typography.scss file.

// NOTE:
// Do not place any actual styles in here!
// Otherwise you risk the chance of it being added to your css in multiple places.

$primary-font-stack:    'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font-stack:  'Helvetica Neue', Helvetica, Arial, sans-serif;


// The font size set on the root html element.
$base-font-size:        16px;
$base-line-height:      24px;


// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;