*,
*:before,
*:after {
    box-sizing: border-box; // Better box model - http://www.paulirish.com/2012/box-sizing-border-box-ftw/
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
}

html {
    background-color: $color-white;
    font-family:$primary-font-stack;
}

html, body, button {
    -webkit-tap-highlight-color: transparent; // http://stackoverflow.com/questions/5210481/disable-orange-outline-highlight-on-focus
}

body {
    min-height: 100%;
	overflow-y: scroll;
}

table {
    width: 100%;
}

th, td {
    vertical-align: top;
}

iframe {
    border: 0;
    display: block;
}

img {
    vertical-align: middle;
}