@import "../variables/media";
@import "../variables/colors";


html {

    background-color: $color-background;
    min-height: 100%;

}

html, body {

    min-width: 320px;
    min-height: 100%;

}

html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}
