@import "../settings/*";

html
{
    color: $color-black;
    font-family: $primary-font-stack;
    line-height: $base-line-height;
    font-size: $base-font-size;
}

h1 {
    $h1-font-size;
}
h2 {
    $h2-font-size;
}
h3 {
    $h3-font-size;
}
h4 {
    $h4-font-size;
}
h5 {
    $h5-font-size;
}
h6 {
    $h6-font-size;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

strong, b
{
    font-weight: 700;
}

html, body, button
{
    -webkit-font-smoothing: antialiased; // @see: http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
    -moz-osx-font-smoothing: grayscale; // @see: http://stackoverflow.com/questions/11459746/css3-/font-smoothing-and-antialiasing-in-firefox-and-opera
}

// @see: http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 200dpi),
only screen and (min-resolution: 1.25dppx) {

    html, body, button
    {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

