@import "../../variables/config";
@import "../../variables/colors";
@import "../../variables/eases";

$form-placeholder-color: rgba(0, 0, 0, 0.26);



input[type="text"] {

    color: $color-text;

    &:focus {
    }

    ::-webkit-input-placeholder
    {
        color: $form-placeholder-color;
    }
    :-moz-placeholder // Firefox 18-
    {
        color: $form-placeholder-color;
    }
    ::-moz-placeholder // Firefox 19+
    {
        color: $form-placeholder-color;
    }
    :-ms-input-placeholder
    {
        color: $form-placeholder-color;
    }
}
