// @formatter:off

// NOTE:
// Do not place any actual styles in here!
// Otherwise you risk the chance of it being added to your css in multiple places.

$breakpoint-extra-small:        	480px;
$breakpoint-small:              	633px;
$breakpoint-medium:             	980px;
$breakpoint-large:              	1290px;
$breakpoint-extra-large:        	1920px;

$media-small:                   	"only screen and (max-width : #{$breakpoint-small})";
$media-medium:                  	"only screen and (min-width : #{$breakpoint-small + 1px}) and (max-width : #{$breakpoint-medium - 1px})";
$media-large:                   	"only screen and (min-width : #{$breakpoint-medium}) and (max-width : #{$breakpoint-large - 1px})";
$media-extra-large:             	"only screen and (min-width : #{$breakpoint-large})";
$media-full-hd:                 	"only screen and (min-width : #{$breakpoint-extra-large}";

