._styleguide__block-fonts {

    > p {
        display: block !important;
        font-size: 25px !important;
        margin-bottom: 20px !important;
    }

    p:nth-of-type(1) {
        font-family: $font-titillium-web, 'monospace' !important;
    }
    p:nth-of-type(2) {
        font-family: $font-helvetica-neue, 'monospace' !important;;
    }

}
