@charset "UTF-8";

@import "variables/colors";
@import "variables/eases";
@import "variables/shadows";
@import "variables/media";
@import "variables/typography";
@import "variables/config";

@import "macros/debug/project-pages-list";
@import "macros/debug/debug-data";

@import "macros/styleguide/block";
@import "macros/styleguide/block-fonts";
@import "macros/styleguide/svg-collection";


html
{
    background-color: #ECECEC;
}

html.dark
{
    background-color: #333333;
}



// Move browserSync notification to the bottom right
#__bs_notify__{
    top: auto !important;
    bottom: 0 !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
}







