@charset "UTF-8";

@import "debug/styleguide";
@import "debug/project-pages-list";
@import "debug/handlebars-debug";


html
{
    background-color: #ECECEC;
}



// Move browserSync notification to the bottom right
#__bs_notify__{
    top: auto !important;
    bottom: 0 !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
}







