<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

	    <meta name="lang" content="en-US">
	    <meta name="dir" content="ltr">

	    <meta name="description" content="_description_here_">
	    <meta name="keywords" content="_keywords_here_">
	    <meta name="author" content="Geert Fokke">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	    <title>{{file.title}}</title>

		<!-- Style sheets -->
	    <link rel="stylesheet" href="inc/css/main.css"/>

	</head>

	<body>
	{{> common/_google-tag-manager id='GTM-XXXX' }}