<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	<meta name="lang" content="<%- global.html.attributes.lang %>">
	<meta name="dir" content="<%- global.html.attributes.dir %>">

	<meta name="description" content="_description_here_">
	<meta name="keywords" content="_keywords_here_">
	<meta name="author" content="Geert Fokke">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title><%= global.title %></title>

	<!-- Style sheets -->
	<link rel="stylesheet" href="/css/main.css"/>

	<% if(project.debug) { %>
	<link rel="stylesheet" href="/css/debug.css"/>
	<% } %>

</head>