<!--[if lt IE 9]>
<div id='update-browser'>
    <div class="update-browser__message">
	    Your browser is out of date! Get the latest version now at <a href="http://browsehappy.com/" target="_blank">browsehappy.</a>
    </div>
</div>
<![endif]-->
