// @formatter:off

// Add your font imports to the base/typography.scss file.

// NOTE:
// Do not place any actual styles in here!
// Otherwise you risk the chance of it being added to your css in multiple places.

$primary-font-stack:    'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font-stack:  'Helvetica Neue', Helvetica, Arial, sans-serif;


// The font size set on the root html element.
$html-font-size:        10px;

$body-font-size:        1.4rem;


// The font sizes for h1-h6.
$h1-font-size: 3.2rem;
$h2-font-size: 2.4rem;
$h3-font-size: 1.9rem;
$h4-font-size: 1.6rem;
$h5-font-size: 1.3rem;
$h6-font-size: 1.1rem;