{{> base/_head }}


{{ debug example-data}}


{{> modules/_some-module }}

<div>
	{{ example.json.name }}
	{{ example.json.description }}
</div>

{{> common/_cookie-notification}}


{{> common/_update-browser}}


{{> base/_foot }}


