---
title: About this page...
---
{{> base/_head }}


{{{ debug }}}


<div>

	{{ about.description }} <br/>

	What is there to say really...? Other than that this setup totally kicks ass!

</div>


{{> common/_cookie-notification}}


{{> common/_update-browser}}


{{> base/_foot }}