<div id="cookie-notification">
    <div class="cookie-notification__content">

        <div class="cookie-notification__message">
            Deze website maakt gebruik van cookies om de website te analyseren en het gebruiksgemak te vergroten.
            <a href="http://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">Bekijk ons cookiebeleid</a>
        </div>

        <a class="button--close js-close">
            <span>Sluit</span>
        </a>

    </div>
</div>