@import "../../variables/config";
@import "../../variables/colors";
@import "../../variables/eases";

$link-animation-time: 150ms;
$link-animation-ease: $ease-out-quad;

// most basic link style
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
}

// regular link style
%regular-link {

    @extend a;

    padding-bottom: 0px;
    border-bottom: 2px solid transparent;
    transition-duration: $link-animation-time;
    transition-timing-function: $link-animation-ease;
    transition-property: border-bottom-color, padding-bottom;

    &:hover {
        padding-bottom: 1px;
        border-bottom-color: $color-primary;
    }

    &:active {
        padding-bottom: 1px;
        border-bottom-color: darken($color-primary, 10%);
    }

}

// Only apply regular link styles to <p> content links.
// This prevents us from having to reset the regular style every time we use an <a> tag.
p a {
    @extend %regular-link;
}

// Apply specific link styles BEM style.
// e.g.: <a class="link--white " >
[class^="link"],
[class*=" link"] {

    @extend %regular-link;

    &[class*="--underline"] {

        padding-bottom: 2px;
        border-bottom: 2px solid $color-primary;

        &:hover, &:active {
            padding-bottom: 2px;
        }

    }

}
