div.rich-text
{
    width: 940px;
    max-width: 100%;
    margin: 0 auto;
    overflow: visible;
    margin-bottom: 80px;

    /* Responsive */
    @include viewport('medium-max')
    {
        padding-left: 40px;
        padding-right: 40px;

        &:last-of-type{
            padding-bottom: 0;
        }
    }

    /* default childs */
    h2
    {
        max-width: 600px;
        font-size: 2rem;
        line-height: 25px;
        margin: 40px 0 30px 0;
    }

    p
    {
        max-width: 600px;
        font-size: 1.5rem;
        line-height: 25px;
    }

    ul
    {
        max-width: 600px;
    }

    ol
    {
        max-width: 600px;
    }

    figure.full
    {
        margin: 40px 0;

//        &, & img
//        {
//            max-width: 600px;
//        }

    }

    /* child: date */
    .text--date
    {
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        padding-bottom: 75px;

        &:after
        {
            content: '';
            position: absolute;
            left: -20px;
            bottom: 37px;
            width: 80px;
            height: 4px;
            background: #fff;
            border: 1px solid $color-primary;
        }
    }

    /* child: intro */
    .text--intro
    {
        font-size: 2rem;
        line-height: 30px;
        color: #000;

        + *
        {
            margin-top: 90px;
        }
    }

    /* child: video */
    .module--video
    {
        margin: 80px 0;
    }

    /* child: download */
    .module--download-link
    {

        p
        {
            max-width: 100%;
        }

        .download__title
        {
            margin-top: 28px;
            font-size: 2rem;
            line-height: 2.5rem;
            color: #000;
        }

        .download__subtitle
        {
            margin: 25px auto 20px auto;
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: #4A4A4A;
        }
    }

    & + .module--author{
        display: none;

        @include viewport('medium-max')
        {
            display: block;
            margin-bottom: 100px;
        }
    }
}
