@import "../../variables/typography";
@import "../../variables/colors";
@import "../../variables/eases";


%select-reset {

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    border: none;
    background-color: $color-white;
    outline: none;
    border-radius: 0;
    border: 1px solid $color-grey;

    &::-ms-expand {
        display: none;
    }

    font-size: inherit;
    font-family: $font-stack-body;
    text-overflow: ellipsis;
    text-transform: capitalize;

}


[class^="select"],
[class*=" select"] {

    display: inline-block;
    position: relative;
    vertical-align: middle;

    overflow: hidden;
//    border: 1px solid rgba(64, 58, 58, .43);
    background-color: $color-white;



    svg {

        position: absolute;
        right: .7em;
        top: 50%;
        transform: translateY(-50%);

    }

    select {

        @extend %select-reset;

        background-color: transparent; // transparent so we can show svg images underneath the select without it affecting the click area
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        z-index: 2;
        cursor: pointer;
        padding: .97em 2.5em .97em 1em;


        transition: border-color $form-animation-time $form-animation-ease;

        &:focus {

            border-color: $form-focus-color;

        }


    }

}