<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="lang" content="en-US">
    <meta name="dir" content="ltr">
    <meta name="author" content="Geert Fokke">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Project Overview</title>

    <link rel="stylesheet" href="/inc/css/debug.css"/>

</head>

<body>

<div class="project-link-list">

    <div class="project-link-list__disclaimer">auto generated link list</div>

	{{{ linkList pages }}}


</div>

</body>

</html>


