---
people:
- {name: Geert Fokke,   age: 27}
- {name: Eddy Fokke,    age: 29}
- {name: Mieke Fokke,   age: 33}
- {name: Joke Fokke,    age: 31}
---

{{sortBy info.people 'age' false}} {{!-- Sorts the context but has no output --}}

<ul>
	{{#each info.people}}
        <li>name: {{name}}, age: {{age}}</li>
	{{/each}}
</ul>

{{#withHash id="firstname" label="First Name" name="first-name"}} {{!-- passes data into the partial --}}
	{{> input-text}}
{{/withHash}}