// @formatter:off

//  NOTE: This file MUST NOT contain any styling! Only variables!
//
//  Add your colors here...


$color-primary:     #FF5454;
$color-secondary:   #333333;
$color-tertiary:    #FAFAFA;

$color-black:       #000000;
$color-grey:        #ECECEC;
$color-white:       #000000;

